@use 'config/reset';
@use 'seções/header';
@use 'config/cores';
@use 'seções/produtos';
@use 'config/variaveis';

body {
    background-color: cores.$corDeFundo;

    li {
        list-style: none;
    }

    .container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    .menu {
        display: flex;
    
        li {
            font-weight: bold;
            margin-left: 24px;
        }
    
        a {
            color: cores.$corTexto;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: variaveis.$tablet ) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}